.box {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 2px solid black;
}

.target {
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    background: red;
    border: 4px dashed black;
}

table {
    width: 300px;
    height: 150px;
}

td {
    border: 1px solid black;
}

#firstbox, #secondbox {
    box-sizing: border-box;
    border: 1px solid black;
    width: 300px;
    margin: 5px 0;
}

#firstbox > div, #secondbox > div {
    background: purple;
}

#firstdiv {
    width: 94px;
    margin: 2px 2px;
}

#seconddiv {
    width: 210px;
    margin: 0 2px;
}

#thirddiv {
    width: 200px;
    margin: 2px 0px 0px 96px;
    text-align: end;
}

#fourthdiv {
    width: 94px;
    margin: 0 0 0 2px;
    text-align: end;
}